body {
    background-color: #f2f2f2;
}
@-webkit-keyframes AnimationName {} @-moz-keyframes AnimationName {} @-o-keyframes AnimationName {} @keyframes AnimationName {} nav ul li {
    display: inline;
    font-size: 14px;
}

input[type=submit] {
    padding: 5px;
    font-size: 16px;
    line-height: 16px;
    border: 0;
    width: 100px;
    height: 30px;
    transition: box-shadow 0.2s ease;
    border-radius: 5px;
    color: #f2f2f2;
}
input[type=submit]:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.animsition {
    background: linear-gradient(60deg, #0074e8, #14d09d);
    background-size: 800% 800%;
}

.page-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  /*  background-image: url(../images/upsidedowncloud.svg);
    background-position: top;
    background-repeat: no-repeat; */
    margin-top: 60px;
    padding:10px;
}

.navigation-bar {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
    top: 0;
    z-index: 100;
    position:relative;
}

.logo {
    width: 38px;
    height: 38px;
    margin: 11px;
}

.logo-main {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    -webkit-filter: drop-shadow( 0px 2px 2px rgba(0, 0, 0, 0.23));
    filter: drop-shadow( 0px 2px 2px rgba(0, 0, 0, 0.23));
    margin-bottom: 20px;
}

.logo-main-container {
    display: flex;
    line-height: 70px;
}
.logo-container {
    height: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    display: flex;
    line-height: 60px;
}
.logo-container p {
    font-size: 16px;
    text-align: center;
}

.nav-items {
    line-height: 60px;
    font-size: 20px;
}

.search-container {
    line-height: 60px;
    width: 1%;
}
.search-container-active {
    line-height: 60px;
    width: 40%;
}
.search-bar {
    width: 100%;
    max-width: 400px;
    height: 35px;
    display: block;
    float: left;
    margin-top: 12.5px;
    padding-left: 10px;
}

.landing-container input[type=submit] {
    width: 250px;
    height: 80px;
    font-size: 29px;
    margin-top: 40px;
    transition: box-shadow 0.2s ease;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    background-color: #c84348;
}

.landing-container {
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 100px 20px 20px 20px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
}
.landing-container input[type=submit]:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}