body {
    background: linear-gradient(180deg, #0074e8, #14d09d);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    -o-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}
@-webkit-keyframes AnimationName {} @-moz-keyframes AnimationName {} @-o-keyframes AnimationName {} @keyframes AnimationName {} nav ul li {
    display: inline;
    font-size: 14px;
}

.page-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(../images/upsidedowncloud.svg);
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 60px;
}

.navigation-bar {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
    top: 0;
    z-index: 100;
}
.logo {
    width: 38px;
    height: 38px;
    margin: 11px;
}
.logo-main {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    -webkit-filter: drop-shadow( 0px 2px 2px rgba(0, 0, 0, 0.23));
    filter: drop-shadow( 0px 2px 2px rgba(0, 0, 0, 0.23));
    margin-bottom: 20px;
}
.logo-main-container {
    display: flex;
    line-height: 70px;
}
.logo-container {
    height: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    display: flex;
    line-height: 60px;
}
.logo-container p {
    font-size: 16px;
    text-align: center;
}
.nav-items {
    line-height: 60px;
    font-size: 20px;
}
.search-container {
    line-height: 60px;
    width: 1%;
}
.search-container-active {
    line-height: 60px;
    width: 40%;
}
.search-bar {
    width: 60%;
    height: 35px;
    display: block;
    float: left;
    margin-top: 12.5px;
    padding-left: 10px;
}