.country-map-container { min-height: 500px; width: 500px; margin-top: 40px; box-sizing: border-box; padding: 10px; }
.world-map-container { position:relative; height: 350px; width: 740px; box-sizing: border-box; padding: 10px; margin: 0 auto; }

.aunz, .africa, .asia, .europe, .south-america, .north-america { transition-duration: 0.2s; } 
.africa {z-index: 10;}
.europe {z-index: 20;}

.country-list { margin: 0 auto; display: flex; justify-content: center; flex-wrap: wrap; }
.country-list-item:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22); }
.country-map { width: 60%; }
.country-info-block { width: 40%; margin-top: 30px; }
.country-big-info-block { width: 100%; margin-top: 30px; }
.country-map { width: 60%; }
.country-list-item:hover { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
.country-list-item { transition: box-shadow 0.2s ease; text-decoration: none; float: left; color: #2E2E2E; text-shadow: none; font-size: 1em; margin: 5px 10px; padding: 10px; border-radius: 3px; background: rgb(255, 255, 255);     filter: drop-shadow( 0px 2px 2px rgba(0, 0, 0, 0.23)); background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 100%); background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 100%); background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 100%); }
.country-map { width: 60%; }
.country-info-block { width: 40%; margin-top: 30px; }
.country-big-info-block { width: 100%; margin-top: 30px; }

@media screen and (min-width: 511px) and (max-width: 668px) 
{
    .world-map-container { width: 490px; height:270px; }

    .north-america { width: 240px; position: absolute; top: 5px; left: 5px; }
    .south-america { width: 73px; position: absolute; top: 131px; left: 101px; }
    .europe { width: 96px; position: absolute; top: 8px; right: 158px; }
    .asia { width: 200px; position: absolute; top: 5px; right: 0px; }
    .africa { width: 96px; position: absolute; top: 71px; left: 233px; }
    .aunz { width: 115px; position: absolute; right: 9px; top: 147px; }
    .pin {top: 34px;}
    .aunz:hover { width:125px; } 
    .africa:hover { width:106px; } 
    .asia:hover { width:210px; } 
    .europe:hover { width:106px; } 
    .south-america:hover { width:83px; } 
    .north-america:hover { width:250px; }    
}

@media screen and (min-width: 669px) and (max-width: 767px) 
{
    .world-map-container { width: 640px; height:370px; }
    .north-america { width: 287px; position: absolute; top: 5px; left: 5px; }
    .south-america { width: 97px; position: absolute; top: 155px; left: 117px; }
    .europe { width: 111px; position: absolute; top: 16px; right: 228px; }
    .asia { width: 278px; position: absolute; top: 5px; right: 0px; }
    .africa { width: 121px; position: absolute; top: 89px; left: 291px; }
    .aunz { width: 188px; position: absolute; right: 9px; top: 202px; transform: perspective(1px) translateZ(0); }
    .pin {top:70px;}
    .aunz:hover{width:198px;} 
    .africa:hover{width:131px;} 
    .asia:hover{width:288px;} 
    .europe:hover{width:121px;} 
    .south-america:hover{width:107px;} 
    .north-america:hover{width:297px;}
}

@media screen and (min-width: 768px) and (max-width: 868px) 
{
    .north-america { width: 300px; position: absolute; top: 5px; left: 5px; }
    .south-america {width: 104px;position: absolute;top: 156px;left: 116px; }
    .europe {
        width: 136px;
        position: absolute;
        top: 16px;
        right: 270px;
    }
    .asia {
        width: 331px;
        position: absolute;
        top: 5px;
        right: 0px;
    }
    .africa {
        width: 141px;
        position: absolute;
        top: 108px;
        left: 327px;
    }
    .aunz {
        width: 154px;
        position: absolute;
        right: 15px;
        top: 219px;
    }

    .pin {top:95px;}   
    .aunz:hover{width:164px;} 
    .africa:hover{width:151px;} 
    .asia:hover{width:341px;} 
    .europe:hover{width:146px;} 
    .south-america:hover{width:114px;} 
    .north-america:hover{width:310px;}
}


@media screen and (min-width: 868px) and (max-width: 968px) {
    .world-map-container {
        width: 840px;
        height:420px;
    }
    .north-america {
        width: 348px;
        position: absolute;
        top: 5px;
        left: 0px;
    }
    .south-america {
        width: 124px;
        position: absolute;
        top: 185px;
        left: 137px;
    }   

    .asia {
        width: 357px;
        position: absolute;
        top: 5px;
        right: 0px;
    }
    .europe {
        width: 151px;
        position: absolute;
        top: 15px;
        right: 291px;
    }
    .africa {
        width: 183px;
        position: absolute;
        top: 115px;
        left: 377px;
    }
    .aunz {
        width: 211px;
        position: absolute;
        right: 15px;
        top: 234px;
    }

    .pin {top:120px;}  

    .aunz:hover{width:221px;} 
    .africa:hover{width:193px;} 
    .asia:hover{width:367px;} 
    .europe:hover{width:161px;} 
    .south-america:hover{width:134px;} 
    .north-america:hover{width:358px;}    

}

@media screen and (min-width: 969px) and (max-width: 1068px) {
    .world-map-container {
        width: 940px;
        height:550px;
    }
    .north-america {
        width: 400px;
        position: absolute;
        top: 5px;
        left: 0px;
    }
    .south-america {
        width: 153px;
        position: absolute;
        top: 212px;
        left: 153px;
    }   

    .asia {
        width: 433px;
        position: absolute;
        top: 4px;
        right: 3px;
    }
    .europe {
        width: 191px;
        position: absolute;
        top: 15px;
        right: 353px;
    }

    .africa {
        width: 216px;
        position: absolute;
        top: 141px;
        left: 375px;
    }

    .aunz {
        width: 252px;
        position: absolute;
        right: 15px;
        top: 307px;
    }

    .pin {top:150px; left:25%;}  

    .aunz:hover{width:262px;} 
    .africa:hover{width:226px;} 
    .asia:hover{width:453px;right: -20px;} 
    .europe:hover{width:201px;} 
    .south-america:hover{width:163px;} 
    .north-america:hover{width:410px;}    

}

@media screen and (min-width: 1069px) {
    .world-map-container {
        width: 940px;
        height:550px;
    }
    .north-america {
        width: 400px;
        position: absolute;
        top: 5px;
        left: 0px;
    }
    .south-america {
        width: 153px;
        position: absolute;
        top: 212px;
        left: 153px;
    }   

    .asia {
        width: 433px;
        position: absolute;
        top: 4px;
        right: 3px;
        z-index:1;
    }
    .europe {
        width: 191px;
        position: absolute;
        top: 15px;
        right: 353px;
        z-index: 2;
    }

    .africa {
        width: 216px;
        position: absolute;
        top: 141px;
        left: 375px;
    }

    .aunz {
        width: 252px;
        position: absolute;
        right: 15px;
        top: 307px;
    }

        .pin {top:150px; left:27%;} 

    .aunz:hover{width:262px;} 
    .africa:hover{width:226px; top: 151px;} 
    .asia:hover{width:453px; right: -20px;} 
    .europe:hover{width:201px; right: 360px; top:5px;} 
    .south-america:hover{width:163px;} 
    .north-america:hover{width:410px;left:-10px;}    
}

@media screen and (min-width: 320px) and (max-width: 510px) {
    .world-map-container {
        display:none;
    }
    ul.country-list { 
        margin-top: 80px; }
    .page-container {
        background-image:none;
    }

    .footer-container {
        padding-top:50px;
    }
}   

.europe-large {
    width: 75%;
    margin: 0 auto;
    margin-top: -70px;
    display: block;
}

.pin {
    position: absolute;
    width: 40px;
    height:40px;
    left:24%;
}

.vector-skyline {
    width:100%;
}